.about {
  background-color: #111;
  color: #fff;
  padding: 80px 10%;
  background: linear-gradient(180deg, #d8d7d7, #2d2d2d);

}

.about-container {
  max-width: 900px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #00e5ff;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #ddd;
}
